<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.shoppingmall.repository.ShoppingmallMapper">
    <select id="getListExhibition" resultType="com.spring.shoppingmall.vo.ProductGroupInfoVO">
        SELECT
            *
        FROM
            PRODUCTGROUPINFO
    </select>

    <insert id="insertExhibition" parameterType="com.spring.shoppingmall.vo.ExhibitionDTO">
        INSERT INTO
            PRODUCTGROUPINFO
            (
                PRDGRIDX,
                PRDGRBR,
                PRDGRTM,
                PRDGRNAME,
                PRDGRIMG,
                PRDGRVIEW,
                PRDGRPRRIOD,
                PRDGRSALE
           )
        VALUES
            (
                PRODUCTGROUPINFO_SEQ.NEXTVAL,
                #{prdGrBr},
                #{prdGrTm},
                #{prdGrName},
                #{imgName},
                #{prdGrView},
                #{prdGrPrriod},
                #{prdGrSale}
            )
    </insert>
</mapper>